:root {
  color-scheme: light dark;
  background-color: rgb(42, 48, 30);
  font-family: "Mada", sans-serif;
  font-palette:  rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Components */

h1 {
  font-weight: 100;
  font-size: 1.5rem;
  padding-top: 5%;
  padding-bottom: 5%;
}

span {
  font-size: 3rem;
}

/* Header */

.nav{
  width: full;
  height: full;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 1%;
  background-color: rgb(255, 255, 255);
}

.nav .nav-img{
  height: 70px;
  width: auto;
}

.nav .nav-item{
  color: rgb(42, 48, 30);
  font-family: "Martian Mono", monospace;
  font-size:100%;
  cursor: pointer;
  text-decoration: inherit;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item, .nav-img{
  display: flex;
}

.nav-item:hover {
  font-size: 1.1rem;
  color: rgb(32, 90, 50);
  transition: color ease-in-out;
}

/* Main */

.AboutMe{
  width: full;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5%;
  background-color: rgb(255, 255, 255);
}

.AboutMe .AboutMe-text{
  color: rgb(42, 48, 30);
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  
}

.AboutMe .AboutMe-text span{
  color: rgb(42, 48, 30);
  font-weight: 400;
  font-size: 3rem;
}

.AboutMe .AboutMe-img{
  padding-left: 5%;
  padding-right: 5%;
  width: 600px;
  height: auto;
  display: flex;
  align-self: center;
}

/* Projects */

.Proyects{
  margin-top: 10%;
  margin-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  border: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 50%;
  height: 400px;
}

.card .card-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: flex;
  align-self: center;

}

.card .card-text{
  font-family: "Mada", sans-serif;
  font-palette:  rgb(255, 255, 255);
  align-self: center;
}

/* Divisors*/

.angle {
  position: relative;
  height: 40px;
  width: 100%;
  background-color: rgb(255, 255, 255);

}

.angle:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 100%;
  background-color: rgb(42, 48, 30);
}

.angle1:after {
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0);
          clip-path: polygon(100% 100%, 0 100%, 0 0);
}

.angle2:after {
  -webkit-clip-path: polygon(100% 100%, 100% 0, 0 0);
          clip-path: polygon(100% 100%, 100% 0, 0 0);
}

/* Contact */

.Contact{
  width: full;
  height: full;
  padding: 5%;
  background-color: rgb(255, 255, 255);
  color: rgb(42, 48, 30);;
  display: flex;
  flex-direction: column;
}

.Contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Contact input, textarea, button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  background-color: rgb(42, 48, 30);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: border-color 0.25s;
}

.Contact textarea {
  height: 150px;
  width: 60%;
  font-family: "Mada", sans-serif;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.Contact input {
  width: 60%;
  height: 50px;
}

.Contact button {
  width: 30%;
  height: 50px;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* Footer */

.foot{
  width: full;
  height: full;
  padding: 3%;
}

.foot .foot-list{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

.foot-item {
  height: 30px;
  width: auto;
  display: flex;
  cursor: pointer;
}

/* Media Queries */

@media (max-width: 1200px){
  .nav .nav-img{
    height: 50px;
    width: auto;
  }

  .AboutMe{
  flex-direction: column;
  height: 750px;

  }

  .AboutMe .AboutMe-text{
    font-weight: 500;
    font-size: 1rem;
  }
  
  .AboutMe .AboutMe-text span{
    color: rgb(42, 48, 30);
    font-weight: 500;
    font-size: 2rem;
  }

  .AboutMe .AboutMe-img{
    width: 70%;
    height: auto;
    display: flex;
  }

  .card{
    flex-direction: column;
  }
  
}

@media (min-width: 900px) {
  .angle,
  .angle:after {
    height: 65px;
  }
}
