:root {
  color-scheme: light dark;
  background-color: #242424;
}

body {
  margin: 0;
  padding: 0;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

input:hover {
  border-color: #646cff;
}

input:focus, input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin: 10px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

textarea:hover {
  border-color: #646cff;
}

textarea:focus, textarea:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Header styles */
.nav{
  width: full;
  height: full;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  margin-left: 0%;
  margin-right: 0%;
  background-color: rgb(255, 255, 255);
}

.nav .nav-img{
  height: 70px;
  width: auto;
}

.nav .nav-item{
  color: rgb(32, 58, 20);
  font-family: "Martian Mono", monospace;
  font-size:100%;
  cursor: pointer;
  text-decoration: inherit;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 0%;
  padding-left: 0%;
}

.nav-item, .nav-img{
  display: flex;
}

.nav-item:hover {
  font-size: 1.1rem;
  color: rgb(32, 90, 50);
  transition: color ease-in-out;
}

@media (max-width: 1000px){
  .nav .nav-img{
    height: 50px;
    width: auto;
  }
}

/* Main styles */
.AboutMe{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.AboutMe .AboutMe-text{
  margin-left: 10%;
  margin-top: 10%;
}

.AboutMe .AboutMe-text h1{
  color: rgb(32, 58, 20);
  font-family: "Mada", sans-serif;
  font-weight: 400;
  font-size: 3rem;
}

.AboutMe .AboutMe-text p{
  color: rgb(32, 58, 20);
  font-family: "Mada", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.AboutMe img{
  height: 800px;
  width: auto;
  margin-left: 10%;
  margin-top: 10%;
}


/* Cards styles */

.card{
  border: 1px solid #eaeaea;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(120, 120, 120, 0.381);
  padding: 20px;
  margin: 10px;
  text-align: center;
  width: 250px;
  height: 250px;
  display: inline-block;
}

.card .card-img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
}

.card .card-text{
  font-family: Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
}
